:root {
  --border-color: #DBDBDB;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.header {
  margin-bottom: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 46px 0 28px;
}

.download-cv {
  font-size: 21px;
}

.download-cv__title {
  margin-left: 9px;
}

.username {
  font-size: 36px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-end;
}

.contacts__phone {
  font-weight: bold;
  font-size: 21px;
}

.user-info {
  display: flex;
  margin-bottom: 50px;
}

.user-info__left {
  width: 500px;
  margin-right: 45px;
}

.avatar {
  border-radius: 30px;
  overflow: hidden;
}

.title {
  font-size: 36px;
  margin-bottom: 36px;
}

.skills__item {
  margin-bottom: 13px;
}

.skills__item-title {
  margin-bottom: 6px;
  font-size: 24px;
}

.skills__inner-list {
  font-size: 16px;
  list-style: disc inside;
}

.skills__inner-title {
  margin-bottom: 6px;
}

.history__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.history__item {
  width: calc(100% / 2 - (34px / 2));
  margin-bottom: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 48px;
  border-top: 1px solid var(--border-color);
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 10px;
}

.socials__icon {
  display: flex;
  width: 38px;
  height: 38px;
  background: black;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.socials__icon:hover {
  text-decoration: none; 
  background: grey;
}
